@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color palette:
   #70ff66 - light green
   #d3ffd0 - pastel green
   #ffffa0 - pastel yellow */

* {
    box-sizing: border-box;
}

body{
    font-family: nunito, sans-serif;
    background: #d3ffd0;
}

#wrapper{
    width: 95%;
    margin: 0 auto;
}
/* topbar and navbar */
.topbar{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #70ff66;
}

.navbar{
    float: right;
    
}

.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    margin: 0 5px 5px 5px;
    background-color: #ffffa0;
    color: #000000;
    border-radius: 5px;
    
}

/* .navbar span{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 200px 5px 15px;
    margin: -5px 5px 5px 5px;
    background-color: #ffffa0;
    color: #000000;
    border-radius: 5px;
    float: right;
} */

/* home page grid */
#maingrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3%;
}

/* topics boxes */
.topics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.topicbox{
    display: flex;
    background-color: #ffffa0;
    margin: auto 0;
    text-align: center;
    border-radius: 3px;
}

.topicbox a{
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.topicbox img{
    width: 100%;
}

.shout{
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: #70ff66;
    padding: 10px 10px;
    border-radius: 3px;
}

.shoutbox{
    
}