@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color palette:
   #70ff66 - neon green
   #d3ffd0 - pastel green
   #b9e2b7 - pastel green (darker)
   #ffffa0 - pastel yellow 
   #ebeb7b - pastel yellow (darker)
   #ffc53d - orange */

* {
    box-sizing: border-box;
    margin: 0;
}

.boxdec{
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.3);
}

body{
    font-family: nunito, sans-serif;
    background: #b9e2b7;
}

#wrapper{
    width: 95%;
    margin: 0 auto;
}

#hamburger{
    display: none;
}

.mnavbar{
    display: none;
}

/* topbar, title, navbar */
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px 12px 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #70ff66;
    box-shadow: 0 -3px 10px;
}

.title{
    display: block;
    font-weight: 600;
    padding-top: 5px;
}

.title a{
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    transition: 0.2s ease;
}

.title span{
    font-size: 8px;
}

.title a:hover{
    text-shadow: 4px 2px 2px #70ff66;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul > li{
    display: flex;
    flex-direction: column;
}

#topics{
    cursor: pointer;
}

.topicsDropdown ul{
    display: none;
    padding: 0;
    transition: 0.5s ease;
}

.topicsDropdown:hover ul{
    position: absolute;
    margin-left: -2px;
    top: 56px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #b9e2b7;
    border-top: 0;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: #70ff66;
    border-style: solid;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.topicsDropdown ul li a{
    background-color: #ffc53d;
    border-color: #ffffa0;
}

.topicsDropdown ul li a:hover{
    background-color: #ffc53d;
    border-color: #ffffa0;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    min-width: 130px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    margin: 0 5px 5px 5px;
    background-color: #ffffa0;
    color: #000000;
    border: 1px solid #ffc53d;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.3);
    transition: 0.1s ease;
}

.navbar a:hover{
    background-color: #ffc53d;
    border-color: #ffffa0;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 1);
}

/* hamburger */
.hamburger{
    display: none;
}

/* home page grid */
#maingrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3%;
}

/* topics boxes */
.topics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.topicbox{
    display: flex;
    background-color: #ffffa0;
    margin: auto 0;
    text-align: center;
    border: 1px solid #ffc53d;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.2);
    transition: 0.1s ease;
}

.topicbox:hover{
    background-color: #ffc53d;
    border-color: #ffffa0;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.5);
}

.topicbox a{
    color: #000000;
    font-weight: 800;
    text-decoration: none;
}

.topicbox img{
    width: 100%;
}

.shout{
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: #ffffa0;
    padding: 10px 10px;
    border: 1px solid #ffc53d;
    border-radius: 3px;
}

.shoutbox ul{
    list-style: none;
}

/* hypens for each list element */
.shoutbox ul li::before{
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -2em;
}

/* footer */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 200px;
    padding: 10px 10px 7px 10px;
    margin-top: 100px;
    border-top: 2px solid #70ff66;
    box-shadow: 0 3px 10px;
}

/* match-ups page */

#matchupwrapper{
    width: 90%;
    margin: 0 auto;
}

/* matchup grid */
#matchupgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 3%;
}

.matchupbox{
    display: flex;
    background-color: #ffffa0;
    margin: auto 0;
    text-align: center;
    border: 1px solid #ffc53d;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.2);
    transition: 0.1s ease;
}

.matchupbox:hover{
    background-color: #ffc53d;
    border-color: #ffffa0;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.5);
}

.matchupbox a{
    color: #000000;
    font-weight: 800;
    text-decoration: none;
}

.matchupbox img{
    width: 100%;
}

/* basics */
#basicsnav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 9px;
}

#basicsnav a{
    text-decoration: none;
    text-align: center;
    min-width: 130px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    margin: 0 5px 5px 5px;
    background-color: #ffffa0;
    color: #000000;
    border: 1px solid #ffc53d;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 0.3);
    transition: 0.1s ease;
}

#basicsnav a:hover{
    background-color: #ffc53d;
    border-color: #ffffa0;
    box-shadow: 0 0 4px rgba(0, 0 , 0, 1);
}

#basics_layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px 2vw;
}

#pro_con_table{
    display: flex;
    border: 2px solid #ffffa0;
    background: #ffc53d;
    min-width: 300px;
}

#pro_con_table th{
    background-color: #ffc53d;
    border: 1px solid #ffffa0;
    width: 50%;
}

#pro_con_table td{
    background-color: #ffffa0;
}

#pro_con_table ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#pro_con_table li{
    padding: 0 5px;
}

#pro_con_table li:nth-of-type(2n){
    background-color: #ebeb7b;
}

.character_box{
    display: flex;
    flex-direction: column;
    background-color: #ffffa0;
    border: 2px solid #ffc53d;
}

.character_box img{
    width: 100%;
    max-width: 300px;
}

/* Medium screen */
@media(max-width: 1300px){

/* Phone screen */
    @media(max-width: 750px){

        .mnavbar{
            display: block;
        }

        .navbar{
            display: none;
        }

        /* Hamburger */     
        .hideburger{
            display: none;
        }
        
        .hidetopics{
            display: none;
        }

        #hamburger{
            display: block;
            padding: 6px 12px;
            font-size: 18px;
            transition: 0.3s ease;
            background-color: #ffffa0;
            border: 1px solid #ffc53d;
            border-radius: 5px;
            box-shadow: 0 0 4px rgba(0, 0 , 0, 0.3);
            transition: 0.1s ease;
            cursor: pointer;
        }

        #hamburger:hover {
            background-color: #ffc53d;
            border-color: #ffffa0;
            box-shadow: 0 0 4px rgba(0, 0 , 0, 1);
        }

        .mnavbar{
            position: absolute;
            top: 68px;
            left: 0;
            right: 0;
            text-align: center;
        }

        .mnavbar > ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        .mtopicsDropdown ul{
            list-style: none;
            padding: 0;
        }

        .mtopicsDrop{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        #mtopics{
            cursor: pointer;
        }

        .mtopicsClick{
            background-color: #ffc53d;
            text-shadow: 2px 2px 2px #ffffa0;
        }
        
        .mnavbar a{
            display: flex;
            flex-direction: column;
            color: #000000;
            text-decoration: none;
            font-weight: 600;
            background-color: #ffffa0;
            padding: 10px 0;
            transition: 0.3s ease;
        }

        .mnavbar a:hover{
            background-color: #ffc53d !important;
            text-shadow: 2px 2px 2px #ffffa0 !important;
        }


        /* topbar */
        .topbar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px 5px 12px 0px;
            margin-bottom: 15px;
            border-bottom: 2px solid #70ff66;
            box-shadow: 0 -3px 10px;
        }

        /* Home page */
        #maingrid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 3%;
            font-size: 0.9em;
        }

        .topics{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        .topicbox{
            display: flex;
            background-color: #ffffa0;
            margin: auto 0;
            text-align: center;
            border-radius: 3px;
        }
    
        /* Matchup page */
        #matchupwrapper{
            width: 95%;
        margin: 0 auto;
        }

        #matchupgrid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px 2%;
            font-size: 0.85em;
        }

        /* basics */
        #basicsnav{
            display: none;
        }


        #basics_layout{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

    }

}

